<div class="">
    <div class="absolute flex justify-between items-center bg-sky-500 text-white w-full p-2">
        <div class="menu-left">
            <div class="logo flex items-center">
                <img class="rounded-full mr-3" src="images/logo.png" alt="" style="width: 50px;">
                <b>PeT</b>SH<b>O</b>P
            </div>
        </div>
        <div class="menu-right">
            <a class="bg-white text-sky-500 p-2 rounded-md transition-all ease-in-out hover:bg-gray-100 mr-3" href="" routerLink="/login">เข้าสู่ระบบ</a>
            <a class="bg-white text-sky-500 p-2 rounded-md transition-all ease-in-out hover:bg-gray-100 mr-3" href="" routerLink="/register">สมัครสมาชิก</a>
        </div>
    </div>
    <div class="banner">
        <img class="" src="images/banner.jpg" alt="" style="width: 100%; height: 1080px;">
    </div>
    <div class="bg-sky-200 p-2 h-60">
        <div class="flex justify-center items-center mt-20 text-center">
            website : www.petshop.com
            <br>
            tell : 0811383380
            <br>
            wipwanee yodsaeng company
        </div>
    </div>
</div>